td .fa-arrows { cursor: move; margin-right: 10px; }

#statschart { height: 250px; margin-top: 35px; }

.fileinput-button { 
	position: relative;
	top: -7px;  
}
	
.fileinput-button input[type=file] {
	opacity: 0; 
	position: absolute;
    right: 0;
    top: 0; 
}

.progress {
	padding: 0;
}
